@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700&display=swap');
@import url("https://use.typekit.net/mnc1oqs.css");
/*
A címsorok és menük betűtípusa: Catamaran, Helvetica, Arial, sans-serif
Gombok szövege, felső menü linkek: Lato, Helvetica, Arial, sans-serif
Bekezdések: Muli, Helvetica, Arial, sans-serif
*/
html{
    padding: 0;
    margin: 0;
    height: 100%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Catamaran',  Helvetica, Arial,  sans-serif;    
    margin: 0;
    height: 100vh;
}
h1, h2,h3,h4,h5{
    font-family: 'Catamaran',  Helvetica, Arial,  sans-serif;
}
.navbar, .btn{
    font-family: 'Lato',  Helvetica, Arial, sans-serif;
}
.first-section{
    background: rgb(244,48,23);
    background: linear-gradient(101deg, rgba(244,48,23,1) 0%, rgba(127,79,223,1) 100%);       
}
.first-section .row{
    background: rgb(244,48,23);
    background: linear-gradient(101deg, rgba(244,48,23,1) 0%, rgba(127,79,223,1) 100%);     
    background-image:  url('../img/bg-pattern.png');       
    background-repeat: repeat;    
}
.second-section, .bg-orange{
    background-color:  #FDCB50;
}
.svg__ico{
    width: 200px;
}
.fifth-section{
}
.fourth-section{
    background-image: url("../img/bg-cta.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.jumbotron{
    background-color: rgba(255, 99, 71, .4);
    max-height: 600px;
    padding-left: 100px;
    padding-top: 100px;
}
.jumbotron h1, .jumbotron button{      
    font-size: 1rem;
}
.fa-twitter{
    color: #1DA1F2;
}
.fa-facebook{
    color: #3B5998;
}
footer, p {
    font-family: muli,  Helvetica, Arial,  sans-serif;

font-weight: 400;


}
/* .fa-google-plus{
    background-color: white;
} */
.btn{
    transition: all .3s ease-in;
}
.btn:hover{
      background-color: #fdcc52;
      border-color: #fdcc52;
  } 
  .ico{
      height: 4rem;
      opacity: .9;
      margin: .4rem;
  }
  .ico:hover{
    
    opacity: 1;
}
footer a:hover{
    color: #fdcc52 !important;
}

@media (min-width: 544px) {  
    h1, .jumbotron h1, .jumbotron button {font-size:1rem;} /*1rem = 16px*/
    .jumbotron{      
        padding-left: 100px;
        padding-top: 100px;
    }
  }
   
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    h1 , .jumbotron h1, .jumbotron button {font-size:2rem;} /*1rem = 16px*/
  }
  

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    h1, .jumbotron h1, .jumbotron button {font-size:2.5rem;} /*1rem = 16px*/
    .fifth-section h1{
        font-size: 4rem;       
    }
    .jumbotron{      
        padding-left: 150px;
        padding-top: 150px;
    }
    header{
        background: rgb(244,48,23);
        background: linear-gradient(101deg, rgba(244,48,23,1) 0%, rgba(127,79,223,1) 100%); 
    }
    .nav-section{background: rgb(244,48,23);
        background: linear-gradient(101deg, rgba(244,48,23,1) 0%, rgba(127,79,223,1) 100%); 
        background-image:  url('../img/bg-pattern.png');       
        background-repeat: repeat;   
    }
    .top-nav a:hover{
        color: white !important;
    }
  }
   
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    .jumbotron button {font-size:2rem;}
    h1, .jumbotron h1 {font-size:3rem;} /*1rem = 16px*/    
    .jumbotron{      
        padding-left: 250px;
        padding-top: 250px;
        max-height: 800px;
    }
  }